<!DOCTYPE html>
<html>
<head>
    <title>Redux basic example</title>
    <script src="https://npmcdn.com/redux@latest/dist/redux.min.js"></script>
</head>
<body>
<div>
    <form>
        <label for="nameEl">Name:<input type="text" id="nameEl"/></label><br/>
        <label for="surnameEl">Surname:<input type="text" id="surnameEl"/></label><br/>
        <label for="ageEl">Age:<input type="text" id="ageEl"/></label><br/>
        <label for="isTheBestEl">Is the best friend:<input type="checkbox" id="isTheBestEl"/></label><br/>
        <button>Add</button>
    </form>
</div>
<script>
    function counter(state, action) {
        if(action.type=="addFriend")
        {
            return state.concat({});
        }
        return state;
    }

    var store = Redux.createStore(counter, 0);
    var rangeEl = document.getElementById('rangeEl');
    var numberEl = document.getElementById('numberEl');

    function render() {
        rangeEl.value = store.toString();
        numberEl.value = store.toString();
    }

    render(0);
    store.subscribe(render);
    function changedStore(value)
    {
        store.dispatch({ type: "increment", data:value });
    }
</script>
</body>
</html>
